POSTGRES_NAME='postgres'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
DB_HOST="db"
DB_PORT=5432

SECRET_KEY='django-insecure-@k04vsjy@qv3m573&94kgq_kjj@lad^^d%hr_o2sk!a6+c3ne9'
DEBUG='False'
ES_HOST='http://elasticsearch:9200'
ES_USER='elastic'
ES_PASSWORD='changeme'
DJANGO_SUPERUSER_PASSWORD='1234'